# PlatformIO 构建产物
.pio/
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch/

# 本地工具元数据（WorkBuddy 项目记忆等，不入库）
.workbuddy/

# 系统文件
Thumbs.db
.DS_Store
desktop.ini

# 其他
*.log
